
.main {
  min-height: 100vh;
  /* background: linear-gradient(252.43deg, #64DFC8 0%, #6696F6 100%); */
  /* background: linear-gradient( to right top, #65dfc9, #6CDBEB ); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mt_1 {
  margin-top: 5px;
}
.mt_5 {
  margin-top: 20px;
}
.mb_1 {
  margin-bottom: 5px;
}
.mb_5 {
  margin-bottom: 20px;
}

.pointer {
  cursor: pointer;
}

.glass {
  background: white;  
  background: linear-gradient(to right bottom, rgba(255,255,255, 0.7), rgba(255,255,255, 0.3));
}

.container_profile {
  border-radius: 20px;
  min-height: 30vh;
  padding: 1rem;
  width: 90%;
  
  display: flex;
  justify-content: space-around;
}
.img__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.links {
  margin: 0;
  padding: 0;
  list-style: none;
}
.link {
  padding: 5px;

}

.link img {
  margin-right: 8px;
  vertical-align: bottom;
}


/* card */
.container_cards {
  border-radius: 20px;
  min-height: 30vh;
  padding: 1rem;
  width: 90%;

  display: flex;
  flex-wrap: wrap;
  
}
.card {
  border-radius: 10px;
}
.card_img {
  width: 280px;
  height: 200px;
  /* max-width: 18rem;
  max-height: 120px; */
  border-radius: 10px 10px 0 0;
}
.card_body {
  padding: 1rem;

}


.circle1 {
   background: red;
}




@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
