

.main {
  min-height: 100vh;
  /* background: linear-gradient(252.43deg, #64DFC8 0%, #6696F6 100%); */
  /* background: linear-gradient( to right top, #65dfc9, #6CDBEB ); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mt_1 {
  margin-top: 5px;
}
.mt_5 {
  margin-top: 20px;
}
.mb_1 {
  margin-bottom: 5px;
}
.mb_5 {
  margin-bottom: 20px;
}

.pointer {
  cursor: pointer;
}

.glass {
  background: white;  
  background: linear-gradient(to right bottom, rgba(255,255,255, 0.7), rgba(255,255,255, 0.3));
}

.container_profile {
  border-radius: 20px;
  min-height: 20vh;
  padding: 1rem;
  width: 94%;
  margin-top: 8px;

  display: flex;
  justify-content: space-around;
}
.img__avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid rgba(122, 122, 122, 0.2);
}

.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.link {
  padding: 5px;

}
.link img {
  margin-right: 8px;
  vertical-align: bottom;
}


/* card */
.container_articles {
  border-radius: 20px;
  min-height: 30vh;
  padding: 1rem;
  width: 94%;
  
}
.container__cards {
  /* display: flex; */
  
}
.card {
  width: 100%;
  /* max-width: 370px;
  min-width: 250px; */
  height: auto;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
  margin-bottom: 1rem;
}
.card:nth-last-child(1) {
  margin-bottom: 0;
}
.card_img {
  display: block;
  width: 100%;
  object-fit: cover;
  /* width: 280px;
  height: 200px; */
  /* max-width: 20rem; */
  /* max-height: 120px; */
  border-radius: 10px 10px 0 0;
}
.card_body {
  padding: 1rem;

}


.circle1 {
   background: red;
}

.categories {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}

.btn {
  border-radius: 6px;
  cursor: pointer;
  padding: .5rem;
}


@media (min-width : 676px) {
  /* .grid {
    width: 100%;
    flex-direction: column;
  } */

  .container_profile {
    width: 50%;
  }
}



